/* general css */

body {
  margin: 0px;
  color: #252525;
  font-size: 14px;
  font-family: Helvetica;
  text-align: center;
}

h1, h2, h3 {
  color: #252525;
  font-weight: lighter;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #01A1FD;
}

a:hover {
  color: #e84089;
}



/* buttons css */

.button-blue {
  background-color: #01A1FD;
}

.button-blue:hover {
  background-color: #e84089;
}

.button-pink {
  background-color: #e84089;
}

.button-pink:hover {
  background-color: white;
  color: #e84089;
}



/* banner css */

#banner{
  text-align: center;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.6)),url("images/food.jpg");
  background-size: cover;
  padding: 150px 30px;;
}

#banner h1, #banner h2 {
  color: white;
  text-shadow: 1px 1px 3px black;
  margin-bottom: 30px;
}

#banner h1 {
  font-size: 50px;
}

#banner h2 {
  font-size: 25px;
}

#banner p {
  color: white;
  opacity: 0.8;
  font-size: 30px;
  font-weight: lighter;
}



/* card css*/

.card{
  margin: 20px 0;
  font-weight: lighter;
  padding: 30px;
  background: #e4e6e6;
  border-radius: 3px;
}



/* section css*/

.section {
  padding: 50px;
}

.section h1, .section h3 {
  margin-bottom: 50px;
}

.section-blue {
  background-color: #01A1FD;
}



/* footer css*/

#footer{
  padding: 30px;
  background: rgb(30, 30, 30);
  color: grey;
}

#footer a {
  color: lightgrey;
  font-size: 40px;
}

#footer a:hover {
  color: white;
}
